<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../Style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voo</title>
</head>


<body>

    <div style="background-color:#43BCBE ;">

        <!--inicio da navbar-->

        <nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#5CA255 ;">
            <div class="container-fluid">
                <img src="../imagens/mundo3.png">
                <a class="navbar-brand" href="Voo.html" style="font-size:35px;">DREAM TRIP</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active " aria-current="page" href="/Voo.html"><img
                                    src="../imagens/aviao4.png"> Voo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="Hotel.html"><img src="../imagens/hotel4.png"> Hotel</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="Pacotes.html"><img src="../imagens/mala3.png"> Pacotes</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="Aluguel.html"><img src="../imagens/carro.png"> Aluguel de carro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contatos.html"><img src="../imagens/contato.png"> Contato</a>
                        </li>
                    </ul>
                    <div class="dropdown">
                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="../imagens/user.png" alt=" ">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="Login.html">Fazer Login</a></li>
                            <li><a class="dropdown-item" href="cadastroUsuario.html">Cadastrar</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!--fim da navbar-->
        <section id="secaoPassagem">

            <!---incio form comprar passagem-->
            <br><br><br>

            <div class=" p-5 "
                style="border:solid; border-radius: 50px ; width: 90%; margin-left: 5%;border-color:#5CA255;">
                <form action="ComprarPassagem" method="post" class="row gx-3 gy-2 align-items-center">
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <h1 class="display-5" style="font-weight:bold;">Comprar Passagem</h1>
                        <hr class="my-2">
                        <br>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                value="somente ida">
                            <h6 class="form-check-label" for="inlineRadio1">somente ida</h6>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                value="ida e volta">
                            <h6 class="form-check-label" for="inlineRadio2">ida e volta</h6>
                        </div>


                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="bagagem" value="bagagem despachada" id="flexCheckIndeterminate">
                            <h6 class="form-check-label" for="flexCheckIndeterminate">
                                Com bagagem dispachada
                            </h6>
                        </div>
                    </div>
                    <br><br><br><br><br><br>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <select class="form-select" name="origem" aria-label="Disabled select example">
                                <option selected>buscar origem</option>
                                <option value="Salvador">Salvador</option>
                                <option value="Rio de Janeiro">Rio de Janeiro</option>
                                <option value="São Paulo">São Paulo</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <select class="form-select" name="destino" aria-label="Disabled select example">
                                <option selected>buscar destino</option>
                                <option value="Salvador">Salvador</option>
                                <option value="Rio de Janeiro">Rio de Janeiro</option>
                                <option value="São Paulo">São Paulo</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12">

                            <div class="input-group flex-nowrap">
                                <input type="text" name="dataIda" class="form-control" placeholder="Data ida" onfocus="(this.type='date')" onblur="(this.type='text')">
                                <input type="text" name="horaPartida" class="form-control" placeholder="Hora" onfocus="(this.type='time')" onblur="(this.type='text')">
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <select class="form-select" name="passageiros" aria-label="Disabled select example">
                                <option selected>N°passageiros</option>
                                <option value=1>1</option>
                                <option value=3>2</option>
                                <option value=3>3</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <button type="submit"
                                style="border-radius:10px ; background-color: #5CA255; width: 100%;">Comprar
                                </button>
                        </div>
                    </div>

                </form>
            </div>
            <br><br><br>

        </section>
        <br>

        <!----final do formulario------>


            <section>
                <div class="row  my-2">

                    <div class="col-lg-4 col-md-6 col-sm-12 ">
                        <div class="card mb-3" style="max-width: 540px;border:solid; background-color: #5CA255; border-color:#E0E0E0;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="../imagens/hospe1.webp" class="img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <br>
                                        <h2 style="color:#E0E0E0 ;">Hotéis</h2>
                                        <br><br>
                                        <h5 style="color:#E0E0E0 ;"><a>Conheça nossos hotéis!</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 ">
                        <div class="card mb-3" style="max-width: 540px;border:solid; background-color: #5CA255; border-color:#E0E0E0;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="../imagens/pacote1.webp"  alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <br>
                                        <h2 style="color:#E0E0E0 ;">Pacotes</h2>
                                        <br><br>
                                        <h5 style="color:#E0E0E0 ;"><a>Conheça nossos pacotes!</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 ">
                        <div class="card mb-3" style="max-width: 540px;border:solid; background-color: #5CA255; border-color:#E0E0E0;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="../imagens/carro2.webp" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <br>
                                        <h2 style="color:#E0E0E0 ;">Aluguel de carros</h2>
                                        <br>
                                        <h5 style="color:#E0E0E0 ;"><a>Conheça nossos carros!</a></h5>
                                        <br><br>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
            </section>

            <!---começo seção de destinos---->
            <section>
            <div class="row  my-2">

                <h2>Destinos Nacionais</h2>
                <div class="col-lg-3 col-md-6 col-sm-12 ">
                    <div style="border:solid;border-color:#5CA255;background-color: #E0E0E0;">
                        <img class="card-img-top"
                            src="../imagens/balneario-camboriu-parque-unipraias-15-sc-divulgacao-cvc-.jpg" alt="Title">
                        <div class="card-body">
                            <h4 class="card-title">Balneario Caboriu</h4>
                            <h6>conheça agora!</h6>
                            <button style="background-color:#5CA255;">Visitar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div style="border:solid;border-color:#5CA255;background-color: #E0E0E0;">
                        <img class="card-img-top" src="../imagens/fortaleza-2.jpg" alt="Fortaleza">
                        <div class="card-body">
                            <h4 class="card-title">Fotaleza</h4>
                            <h6>conheça agora!</h6>
                            <button style="background-color:#5CA255;">Visitar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div style="border:solid;border-color:#5CA255;background-color: #E0E0E0;">
                        <img class="card-img-top" src="../imagens/foz-do-iguacu-parque-nacional-shutterstock-337634303.jpg"
                            alt="Foz Iguaçú">
                        <div class="card-body">
                            <h4 class="card-title">Foz Iguaçú</h4>
                            <h6>conheça agora!</h6>
                            <button style="background-color:#5CA255;">Visitar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 ">
                    <div style="border:solid;border-color:#5CA255;background-color: #E0E0E0;">
                        <img class="card-img-top" src="../imagens/Gramado-2.jpg" alt="Gramado">
                        <div class="card-body">
                            <h4 class="card-title">Gramado</h4>
                            <h6>conheça agora!</h6>
                            <button style="background-color:#5CA255;">Visitar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row  my-2">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div style="border:solid;border-color:#5CA255;background-color: #E0E0E0;">
                        <img class="card-img-top" src="../imagens/joao pessoa.jpg" alt="João Pessoa">
                        <div class="card-body">
                            <h4 class="card-title">João Pessoa</h4>
                            <h6>conheça agora!</h6>
                            <button style="background-color:#5CA255;">Visitar</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 ">
                    <div style="border:solid;border-color:#5CA255;background-color: #E0E0E0;">
                        <img class="card-img-top" src="../imagens/porto-seguro.jpg" alt="Porto Seguro">
                        <div class="card-body">
                            <h4 class="card-title">Porto Seguro</h4>
                            <h6>conheça agora!</h6>
                            <button style="background-color:#5CA255;">Visitar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div style="border:solid;border-color:#5CA255;background-color: #E0E0E0;">
                        <img class="card-img-top" src="../imagens/rio-2_0.jpg" alt="Rio De Janeiro">
                        <div class="card-body">
                            <h4 class="card-title">Rio de Janeiro</h4>
                            <h6>conheça agora!</h6>
                            <button style="background-color:#5CA255;">Visitar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div style="border:solid;border-color:#5CA255;background-color: #E0E0E0;">
                        <img class="card-img-top" src="../imagens/porto-de-galinhas-praia-aerea_0.jpg"
                            alt="Porto de Galinhas">
                        <div class="card-body">
                            <h4 class="card-title">Porto de Galinhas</h4>
                            <h6>conheça agora!</h6>
                            <button style="background-color:#5CA255;">Visitar</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <br><br><br>
        <section>
            <h2>Destinos Internacionais</h2>
            <div class="row  my-2">

                <div class="col-lg-4 col-md-6 col-sm-12 ">
                    <div style="border:solid;border-color:#080C0D;background-color: #E0E0E0;">
                        <img class="card-img-top" src="../imagens/lisboa-thinkstock-516950227_2.jpg" alt="Lisbao">
                        <div class="card-body">
                            <h4 class="card-title">Lisboa</h4>
                            <h6>conheça agora!</h6>
                            <button class="btn btn-primary">Visitar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div style="border:solid;border-color:#080C0D;background-color: #E0E0E0;">
                        <img class="card-img-top" src="../imagens/orlando-3.jpg" alt="Orlando">
                        <div class="card-body">
                            <h4 class="card-title">Orlando</h4>
                            <h6>conheça agora!</h6>
                            <button class="btn btn-primary">Visitar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div style="border:solid;border-color:#080C0D;background-color: #E0E0E0;">
                        <img class="card-img-top" src="../imagens/punta-cana.jpg" alt="Punta Cana">
                        <div class="card-body">
                            <h4 class="card-title">Punta Cana</h4>
                            <h6>conheça agora!</h6>
                            <button class="btn btn-primary">Visitar</button>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <br><br><br><br>
            <!----seção promoções-->
    <section>
        <h2 style="color:red;">Aproveite as nossas promoçoes!</h2>
        <div class="row  my-2">
            <div class="col-lg-4 col-md-6 col-sm-12 ">
                <div class="card text-start" style="border: solid;border-color: red;">
                    <img class="card-img-top" src="../imagens/lisboa-thinkstock-516950227_2.jpg" alt="Lisbao">
                    <div class="card-body">
                        <h4 class="card-title">Lisboa</h4>
                        <hr>
                        <h5 style="color: red;">Promoção</h5>
                        <br>
                        <font style="color: red;"><strike>De: 7000,00</strike></font><br><br>
                        <font>Por: 5500,00</font> <br><br>
                        <button class="btn btn-primary">Saiba mais</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card text-start" style="border: solid;border-color: red;">
                    <img class="card-img-top" src="../imagens/punta-cana.jpg" alt="punta">
                    <div class="card-body">
                        <h4 class="card-title">Puanta</h4>
                        <hr>
                        <h5 style="color: red;">Promoção</h5>
                        <br>
                        <font style="color: red;"><strike>De: 6000,00</strike></font><br><br>
                        <font>Por: 5000,00</font> <br><br>
                        <button class="btn btn-primary">Saiba mais</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card text-start" style="border: solid;border-color: red;">
                    <img class="card-img-top" src="../imagens/rio-2_0.jpg" alt="Rio de Janeiro">
                    <div class="card-body">
                        <h4 class="card-title">Rio de Janeiro</h4>
                        <hr>
                        <h5 style="color: red;">Promoção</h5>
                        <br>
                        <font style="color: red;"><strike>De: 1200,00</strike></font><br><br>
                        <font>Por: 999,00</font> <br><br>
                        <button class="btn btn-primary">Saiba mais</button>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <br><br><br><br>


        <nav class="navbar navbar-light " style="background-color:#E0E0E0;border: solid;border-color: #5CA255;">
            <div class="container-fluid " style="justify-content: center;">
                <span class="navbar-brand mb-0 h1 "><img src="../imagens/formas-pagamento.png"
                        style=" height: 100px;"></span>
            </div>
        </nav>


    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>